<div class="container-fluid" ng-controller="ThongTinKhachHang">
    <h2 style="text-align: center; margin-top: 20px">Thông tin cá nhân</h2>
    <div class="card-body md-4">
        <form class="col-md-6 mx-auto">
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="mb-2">Họ tên</label>
                    <input class="form-control" ng-model="hoTen" />
                </div>
            </div>
            <br />
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="mb-2">Email</label>
                    <input class="form-control" ng-model="email" disabled />
                </div>
            </div>
            <br />
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="mb-2">Số điện thoại</label>
                    <input class="form-control" ng-model="sdt" />
                </div>
            </div>
            <br />
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="mb-2">Ngày sinh</label>
                    <input class="form-control" ng-model="ngaySinh | date:'dd/MM/yyyy'" />
                </div>
            </div>
            <br />
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="mb-2">Địa chỉ</label>
                    <input class="form-control" ng-model="diaChi" />
                </div>
            </div>

            <div class="row" style="text-align: right">
                <div class="col-sm-12">
                    <!-- <button class="btn btn-primary " target="__blank" ng-click="chinhSua()">Edit</button> -->
                    <button class="btn btn-primary" style="margin-top: 20px" type="button" ng-click="chinhSua()">
                        Lưu cập nhật
                    </button>
                    <button class="btn btn-primary" style="margin-top: 20px" type="button" ng-click="doimatkhau()">
                        Đổi mật khẩu
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
