<div class="container-fluid" layout:fragment="content" :ng-controller="CTChoXacNhan">
    <h1>CHI TIẾT HÓA ĐƠN</h1>
    <div th:object="${hoaDon}">
        <input type="hidden" id="IDHoaDon" />
        <p>Mã đơn: <span>{{ hoaDon.maHoaDon}}</span></p>
        <p>Ngày tạo: <span>{{ hoaDon.createdDate | date:'dd/MM/yyyy' }}</span></p>
        <p>Tên khách hàng: <span>{{ hoaDon.nguoiNhan}}</span></p>

        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thành tiền</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="CTChoXacNhan in hdct">
                        <td>{{$index + 1}}</td>
                        <td>
                            <div style="display: flex; align-items: center">
                                <!-- <img th:src="${'/customer/images/' + tenAnhChinhList[stt.index]}" alt=""
                                 style="margin-right: 10px;" width="100px" height="100px"> -->
                                <img
                                    src="/static/img/{{CTChoXacNhan.anhSanPham}}"
                                    alt=""
                                    style="margin-right: 10px"
                                    width="100px"
                                    height="100px"
                                />

                                <div>
                                    <h6>
                                        <strong>
                                            <span style="text-transform: uppercase" class="TenSP"
                                                >{{ CTChoXacNhan.sanPhamChiTiet.sanPham.tenSanPham}}</span
                                            >
                                        </strong>
                                    </h6>
                                    <div class="ThongTinSP">
                                        <span>{{ CTChoXacNhan.sanPhamChiTiet.mauSac.tenMauSac}}</span>
                                        <span>/</span>
                                        <span>{{ CTChoXacNhan.sanPhamChiTiet.kichCo.kichCo}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ CTChoXacNhan.donGia.toLocaleString('vi-VN') + ' VNĐ' }}</td>

                        <td>{{ CTChoXacNhan.soLuong}}</td>

                        <td>{{ CTChoXacNhan.thanhTien.toLocaleString('vi-VN') + ' VNĐ' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>Tổng giá trị đơn hàng: <span>{{ hoaDon.tongTienHoaDon.toLocaleString('vi-VN') + ' VNĐ' }}</span></p>
        <p>
            Giảm giá:
            <span>{{ hoaDon.tienGiam.toLocaleString('vi-VN') + ' VNĐ' }}</span>
        </p>
        <p>Tổng tiền thanh toán: <span>{{ hoaDon.tongTienDonHang.toLocaleString('vi-VN') + ' VNĐ' }}</span></p>
    </div>

    <br />
    <hr />

    <div class="container-fluid">
        <div class="button-group" id="button-chiTietHoaDon">
            <button class="action-button" ng-click="quayLai()">
                Quay lại
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>
</div>
