<div class="container-fluid" ng-controller="EditNhanVienController">
    <!-- Account details card-->
    <div class="card mb-4">
        <div class="card-header">Sửa nhân viên</div>
        <div class="card-body">
            <form>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="form-check-label" for="inputSoCanCuoc">Số căn cước</label>
                        <input
                            class="form-control"
                            id="inputSoCanCuoc"
                            type="text"
                            placeholder="Nhập tên nhân viên"
                            ng-model="editStaff.soCanCuoc"
                            readonly
                        />
                    </div>

                    <div class="col-md-6" style="margin-top: 30px">
                        <label class="form-check-label" for="inputLastName">Giới tính</label>
                        <div class="form-check form-check-inline" style="margin-left: 30px">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio1"
                                value="true"
                                ng-model="editStaff.gioiTinh"
                            />
                            <label class="form-check-label" for="inlineRadio1">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio2"
                                value="false"
                                ng-model="editStaff.gioiTinh"
                            />
                            <label class="form-check-label" for="inlineRadio2">Nữ</label>
                        </div>
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="form-check-label" for="inputUsername">Họ tên</label>
                        <input
                            class="form-control"
                            id="inputName"
                            type="text"
                            placeholder="Nhập tên nhân viên"
                            ng-model="editStaff.hoTen"
                            readonly
                        />
                    </div>
                    <div class="col-md-6">
                        <label class="form-check-label" for="inputLocation">Số điện thoại</label>
                        <input
                            class="form-control"
                            id="inputPhone"
                            type="text"
                            placeholder="Nhập số điện thoại"
                            ng-model="editStaff.soDienThoai"
                        />
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="form-check-label" for="inputLastName">Ngày sinh</label>
                        <input
                            class="form-control"
                            id="inputDob"
                            type="date"
                            placeholder="Nhập ngày sinh"
                            value="{{ngaySinh}}"
                            readonly
                        />
                    </div>

                    <div class="col-md-6">
                        <label class="form-check-label" for="inputLastName">Email</label>
                        <input
                            class="form-control"
                            id="inputEmail"
                            type="text"
                            placeholder="Nhập email"
                            ng-model="editStaff.email"
                        />
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="form-check-label" for="inputLastName">Địa chỉ</label>
                        <input
                            class="form-control"
                            id="inputAddress"
                            type="text"
                            placeholder="Nhập địa chỉ"
                            ng-model="editStaff.diaChi"
                            readonly
                        />
                    </div>

                    <div class="col-md-6 d-flex" style="margin-top: 23px">
                        <label class="form-check-label me-2" for="statusSelect">Trạng thái</label>
                        <select class="form-select w-auto" id="statusSelect" aria-label="Default select example">
                            <option value="0">Đang hoạt động</option>
                            <option value="1">Nghỉ việc</option>
                        </select>
                    </div>
                </div>
            </form>

            <div style="margin-top: 30px; float: right">
                <button id="button-troVo-nhanVien" type="button" ng-click="returnEdit(editStaff)">
                    <i class="fas fa-arrow-left"></i> Trở về
                </button>

                <button id="button-them-nhanVien" type="button" ng-click="saveEditStaff(editStaff)">
                    <i class="fas fa-save"></i> Sửa
                </button>
            </div>
        </div>
    </div>
</div>
