<div class="container-fluid" ng-controller="CreateSizeController" id="themMoiCtSP">
    <div class="card mb-4">
        <div class="card-header">Thêm kích cỡ</div>
        <div class="card-body">
            <form>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        <label class="small mb-1" for="name">Kích cỡ</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-ruler"></i></span>
                            <input
                                class="form-control"
                                id="name"
                                type="text"
                                placeholder="Nhập kích cỡ"
                                ng-model="createSize.kichCo"
                                required
                            />
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary" type="button" ng-click="returnCreate()">
                    <i class="fas fa-arrow-left"></i> Quay lại
                </button>
                <button class="btn btn-primary" type="button" ng-click="saveCreateSize(createSize)">
                    <i class="fas fa-check"></i> Thêm mới
                </button>
            </form>
        </div>
    </div>
</div>
