<div class="container-fluid" layout:fragment="content" ng-controller="CTchoGiaoHangCustomer">
    <br />
    <h1 style="text-align: center">CHI TIẾT HÓA ĐƠN</h1>
    <div th:object="${hoaDon}">
        <input type="hidden" id="IDHoaDonCXN" />
        <p>Mã đơn: <span>{{ hoaDon.maHoaDon}}</span></p>
        <p>Ngày tạo: <span>{{ hoaDon.createdDate | date:'dd/MM/yyyy' }}</span></p>
        <p>Tên khách hàng: <span>{{ hoaDon.nguoiNhan}}</span></p>

        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thành tiền</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="CTChoXacNhan in hdct">
                        <td>{{$index + 1}}</td>
                        <td>
                            <div style="display: flex; align-items: center">
                                <!-- <img th:src="${'/customer/images/' + tenAnhChinhList[stt.index]}" alt=""
                                  style="margin-right: 10px;" width="100px" height="100px"> -->
                                <img
                                    src="/static/img/{{CTChoXacNhan.anhSanPham}}"
                                    alt=""
                                    style="margin-right: 10px"
                                    width="100px"
                                    height="100px"
                                />

                                <div>
                                    <h6>
                                        <strong>
                                            <span style="text-transform: uppercase" class="TenSP"
                                                >{{ CTChoXacNhan.sanPhamChiTiet.sanPham.tenSanPham}}</span
                                            >
                                        </strong>
                                    </h6>
                                    <div class="ThongTinSP">
                                        <span>{{ CTChoXacNhan.sanPhamChiTiet.mauSac.tenMauSac}}</span>
                                        <span>/</span>
                                        <span>{{ CTChoXacNhan.sanPhamChiTiet.kichCo.kichCo}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ CTChoXacNhan.donGia.toLocaleString('vi-VN') + ' VNĐ' }}</td>

                        <td>{{ CTChoXacNhan.soLuong}}</td>

                        <td>{{ CTChoXacNhan.thanhTien.toLocaleString('vi-VN') + ' VNĐ' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>Tổng giá trị đơn hàng: <span>{{ hoaDon.tongTienHoaDon.toLocaleString('vi-VN') + ' VNĐ' }}</span></p>
        <p>Phí vận chuyển: <span>{{ hoaDon.tienShip.toLocaleString('vi-VN') + ' VNĐ' }}</span></p>
        <p>
            Giảm giá:
            <span>{{ hoaDon.tienGiam.toLocaleString('vi-VN') + ' VNĐ' }}</span>
        </p>
        <p>Tổng tiền thanh toán: <span>{{ hoaDon.tongTienDonHang.toLocaleString('vi-VN') + ' VNĐ' }}</span></p>
    </div>

    <br />
    <hr />
    <div class="mx-auto">
        <h1>Lịch sử hoá đơn</h1>
    </div>
    <div class="container-fluid">
        <div class="table-wrapper">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th scope="col">Ngày thực hiện</th>
                        <th scope="col">Người thực hiện</th>
                        <th scope="col">Thao tác</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lsHoaDons in lsHoaDons">
                        <td>{{lsHoaDons.ngayTao| date:'dd/MM/yyyy' }}</td>
                        <td>{{lsHoaDons.nguoiThaoTac}}</td>
                        <td>{{lsHoaDons.thaoTac}}</td>
                        <td>Thành công</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
    <hr />
    <br />

    <div class="container-fluid">
        <div class="main-timeline">
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                            <span class="month">{{timeLine_ChoXacNhan.createdDate | date:'dd/MM/yyyy'}}</span>
                            <span class="hour"></span>
                        </span>
                    </div>
                </div>

                <div class="timeline-content">
                    <h5 class="title">Chờ xác nhận</h5>
                    <p class="description"><strong>Thao tác: </strong>Tạo đơn hàng</p>
                    <p><strong>Người tạo đơn: </strong><span>{{timeLine_ChoXacNhan.nguoiThaoTac}}</span></p>
                </div>
            </div>

            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                            <span class="month">{{timeLine_ChoGiaoHang.createdDate | date:'dd/MM/yyyy'}}</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">Chờ giao hàng</h5>
                    <p class="description">
                        <strong>Thao tác: </strong>Xác nhận đơn, đợi giao hàng cho đơn vị vận chuyển
                    </p>
                    <p><strong>Người thao tác: </strong><span>{{timeLine_ChoGiaoHang.nguoiThaoTac}}</span></p>
                </div>
            </div>
        </div>
        <br />

        <div class="button-group" id="button-chiTietHoaDon">
            <button class="action-button" ng-click="quayLai()">
                Quay lại
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>
</div>
