<div class="container-fluid" ng-controller="CreateKhuyenMaiController">
    <!-- Account details card-->
    <div class="card mb-4">
        <div class="card-header">Thêm Khuyến Mại</div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="small mb-1" for="inputUsername">Tên Khuyến Mại</label>
                    <input
                        class="form-control"
                        id="inputUsername"
                        type="text"
                        placeholder="Nhập tên khuyến mại"
                        ng-model="createkhuyenMai.tenKhuyenMai"
                    />
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName">Ngày Bắt Đầu</label>
                        <input
                            class="form-control"
                            id="inputFirstName"
                            type="date"
                            placeholder="Nhập ngày bắt đầu"
                            ng-model="createkhuyenMai.ngayBatDau"
                        />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Ngày Kết Thúc</label>
                        <input
                            class="form-control"
                            id="inputLastName"
                            type="date"
                            placeholder="Nhập ngày kết thúc"
                            ng-model="createkhuyenMai.ngayKetThuc"
                        />
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputOrgName">Phần Trăm Giảm</label>
                        <input
                            class="form-control"
                            id="inputOrgName"
                            type="text"
                            placeholder="Nhập phần trăm giảm"
                            ng-model="createkhuyenMai.phanTramGiam"
                        />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLocation">Tiền giảm tối Đa</label>
                        <input
                            class="form-control"
                            id="inputLocation"
                            type="number"
                            placeholder="Nhập tiền giảm tối đa"
                            ng-model="createkhuyenMai.tienGiamToiDa"
                        />
                    </div>
                </div>

                <button class="btn btn-primary" type="button" ng-click="returnCreate()">Quay Lại</button>
                <button class="btn btn-primary" type="button" ng-click="saveCreatekhuyenMai(createkhuyenMai)">
                    Thêm Mới
                </button>
            </form>
        </div>
    </div>
</div>
